
  .feed{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    min-height: 1000px;
  }
  .feed h3{
    border: 1px solid black;
    padding: 20px;
  }
  .page-title{
    margin-left: 100px;
  }

  .new-meow{
    border: 1px solid black;
    padding: 20px;
    width: 100%;
  }
